<% @page_title = "Main" %>
<% @manual_topnav = {'Control Panel' => '/cp'} %>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Datacentres/Assets</h2>
  <p>Datacentre administration:</p>
  <ul>
    <li><%= link_to "Datacentres", :controller => 'dc' %> - view and administer datacentres.</li>
    <li><%= link_to "Asset values", :controller => 'hardware', :action => 'asset_values' %> - view asset value information.</li>
    <li><%= link_to 'IP addresses', :controller => 'ip_addresses', :action => 'index' %> - manage IP addresses.</li>
    <li><%= link_to "Licences", :controller => 'licences' %> - manage software licences.</li>
  </ul>

  <h2>Customers</h2>
  <p>Manage customers and their accounts.</p>
  <ul>
    <li class="auto_complete"><%= link_to "Accounts", :controller => 'accounts' %> - manage customer accounts (hosting, dedicated servers, etc.).</li>
    <li><%= link_to "Companies", :controller => 'companies' %> - manage companies.</li>
    <li><%= link_to "Contacts", :controller => 'contacts' %> - manage contacts.</li>
    <li><%= link_to "Email contacts", :controller => 'emails' %> - send emails to contacts.</li>
  </ul>

  <h2>Incomplete DC Tasks</h2>
  <% if @incomplete_tasks.blank? %>
    <p>There are currently no imcomplete datacentre tasks.</p>
  <% else -%>
    <p>Pending datacentre tasks (descriptions may be truncated, view a task to see complete description)</p>
    <table class="listing">
      <tr>
        <th>Description</th>
        <th>Created at</th>
        <th>Created by</th>
      </tr>
      <% @incomplete_tasks.each do |task| %>
        <tr class="<%= cycle('list-even', 'list-odd') %>">
          <td><%= truncate(task.description, 60) %></td>
          <td><%= task.created_at.to_s(:db)%></td>
          <td><%= task.created_by_user %></td>
          <td><%= link_to("Done",
                          task_path(:id => task.id, :task => {:is_complete => true},
                                    :redirect_to => 'main'),
                          :method => :put) %> 
          <td><%= link_to(image_tag('show.gif', :title => 'Show task'), task) %></td>
        </tr>
      <% end -%>
    </table>
    <br />
  <% end -%>
  <ul>
    <li><%= link_to "Tasks", tasks_path %> - manage datacentre tasks</li>
  </ul>

  <h2>Control Panel</h2>
  <p>Manage system users, support levels and view statistics in the
  <%= link_to 'control panel', :controller => 'cp' %>.</p>
</div>
<!--[eodiv:contentleft]-->

<!--[div:contentright]-->
<div id="contentright">
  <h2>Latest Accounts</h2>
  <p>Recent accounts added to the system:</p>
  <ul>
    <% for account in @latest_accounts -%>
    <li>
      <%= link_to(account.fqdn_with_status, account_url(:fqdn => account.fqdn)) %>
      (added by <%= account.created_by_user %>
      on <%= account.created_at.to_s(:short) %>)
    </li>
    <% end -%>
  </ul>
  <h2>Latest Companies</h2>
  <p>Recent companies added to the system:</p>
  <ul>
    <% for company in @latest_companies -%>
    <li>
      <%= link_to(company.name, :controller => :companies, :action => :show, :id => company) %>
      (added by <%= company.created_by_user %>
      on <%= company.created_at.to_s(:short) %>)
    </li>
    <% end -%>
  </ul>
</div>
<!--[eodiv:contentright]-->
