<% form_for :account_login, :url => {:controller => 'login_details', :action => 'create'} do |f| %>
<table>
  <%= f.hidden_field :account_id %>
  <tr>
    <td><label for="account_login_description">Login description</label></td>
    <td><%= select :account_login, :example_description, LoginDetail::EXAMPLE_DESCRIPTIONS %></td>
    <td>or:</td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td><label for="account_login_decrypted_username">Username</label></td>
    <td colspan="3"><%= f.text_field :decrypted_username %></td>
  </tr>
  <tr>
    <td><label for="account_login_decrypted_password">Password</label></td>
    <td colspan="3"><%= f.text_field :decrypted_password %></td>
  </tr>
  <tr>
    <td><label for="account_login_url">URL</label></td>
    <td colspan="3"><%= f.text_field :url %></td>
  </tr>
  <tr>
    <td><%= submit_tag 'Add login' %></td>
  </tr>
</table>
<% end -%>
