<% @page_title = "Edit Datacentre Task" -%>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Edit datacentre task</h2>
  <%= error_messages_for :task %>
  <% form_for(@task) do |f| %>
    <table>
      <tr>
        <td><%= f.label :description, "Task description:" %></td>
        <td><%= f.text_area :description, :rows => 3 %></td>
      </tr>
      <tr>
        <td><%= f.label :is_complete, "Task completed:" %></td>
        <td><%= f.check_box :is_complete %></td>
      </tr>
      <tr>
        <td><%= f.submit "Update task" %></td>
      </tr>
    </table>
  <% end %>
</div>
<!--[eodiv:contentleft]-->
