<% @page_title = 'New product' -%>

<!--[div:contentleft]-->
<div id="contentleft">
  <h2>Add new product</h2>
  <p>Use the form below to add a new product to the <%= @product.category.name %> category.</p>
  <%= start_form_tag :controller => 'products', :action => 'create' %>
  <table>
    <%= hidden_field :product, :category_id %>
    <%= render :partial => 'products/form' %>
    <tr>
      <td><%= submit_tag 'Add product' %></td>
    </tr>
  </table>
  <%= end_form_tag %>
</div>
<!--[eodiv:contentleft]-->
